<!-- Display the news Categories by different pages -->


{% extends 'base.html'%}

{% block content %}

{% if category_post%}
  <h1>{{ cats }}</h1>


  <div class="container py-3">
      	<hr>
      	<br>
          	<div class="row">
            {% for category in category_post %}

          		<div class="col-sm-12 col-md-6 col-lg-3 pb-4 ">
          			<div class="card h-50" style="border:none">
                    <img src="" class="card-img-top" alt="">
          			  	<div class="card-body">
          					<h5 class="card-title text-truncate">{{category.title}}</h5>
          				  	<p class="card-text text-muted " style="font-size:12px">{{category.category}}</p>
                      <p class="card-text text-truncate">{{category.News_content}}</p>
                      <a href="{% url 'article_detail' category.pk %}" class="btn btn-primary">Detail</a>
          			  	</div>
          			</div>
      		    </div>
            {% endfor %}

      	</div>

  </div>
{% else %}
  <h2>Sorry this page does not exist....</h2>
{% endif %}


{%endblock%}
